<section>
    <h2>Rest api output</h2>
    <table align="center">
      <thead>
        <tr>
            <th>Id</th>
          <th>Name</th>
          <th>Vent</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="_meteos.length > 0; else noUsers">
          <tr *ngFor="let meteo of _meteos">
            <td>{{meteo.id}}</td>
            <td>{{meteo.ville}}</td>
            <td>{{meteo.vent}}</td>
            
          </tr>
        </ng-container>
        <ng-template #noUsers>
          <tr>
            <td>No users found</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <h2>Fin du tableau</h2>
  </section>
  
